#logo {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	text-align:center;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display:block;
	margin-left:auto;
	margin-right:auto;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  margin-top: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-weight: bold;
}

/*h1 {
	font:Helvetica;
	color:black;
}*/

label {
/*	border:thin solid orange;*/
	font:20px Helvetica, Arial, sans-serif;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

input.newuser {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

input.newuser[type="submit"] {
  cursor: pointer;
	padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
/*	background-color:#006DCC;*/
/*	color:white;*/
/*  -webkit-border-radius: 5px;*/
/*  -moz-border-radius: 5px;*/
/*  border-radius: 5px;*/

/*		float:right;*/
/*		float:left;*/
		clear:both;
		width:100px;
}

input.newuser#username {
/*	border:thin dashed orange;*/
	width:200px;
	height:30px;
	font:20px;
/*	border:1px;*/
	padding:5px;
	font-size:200%;
	text-align:center;
}



/* styles for cards */

#card-container {
    width: 640px;
    height: 712px;
    margin: 10px auto;
    overflow: hidden;
    clear: both;
}

.card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 36%;
    height: 30%;
    border: 1px solid #000;
    padding: 1em;
    margin: 1.5% 6%;
    font: 600 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
}

.black {
    color: #fff;
    background-color: #000;
    font-weight: 500;
}

._ {
    display: inline-block;
    width: 5em;
    border-bottom: 1px solid #fff;
    line-height: 0.8em;
    margin-right: 0.1em;
}