#logo {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	text-align:center;
}

body {
  width: 545px;
  padding: 0px;
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	display:block;
	margin-left:auto;
	margin-right:auto;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  margin: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-weight: bold;
}

/*h1 {
	font:Helvetica;
	color:black;
}*/

label {
/*	border:thin solid orange;*/
	font:20px Helvetica, Arial, sans-serif;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

input.newuser {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

input.newuser[type="submit"] {
  cursor: pointer;
	padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
/*	background-color:#006DCC;*/
/*	color:white;*/
/*  -webkit-border-radius: 5px;*/
/*  -moz-border-radius: 5px;*/
/*  border-radius: 5px;*/

/*		float:right;*/
/*		float:left;*/
		clear:both;
		width:100px;
}

input.newuser#username {
/*	border:thin dashed orange;*/
	width:200px;
	height:30px;
	font:20px;
/*	border:1px;*/
	padding:5px;
	font-size:200%;
	text-align:center;
}

#rooms {
  margin-bottom: 1em;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.7em;
  text-align: center;
}

footer p {
  margin: 0;
}


/* styles for cards */

.card-container {
  font-size: 16px;
  width: 640px;
  height: 712px;
  margin: 0 auto;
  margin-top: -1em;
  padding: 0 0 0 0;
  overflow: hidden;
  clear: both;
}

.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 36%;
  min-height: 30%;
  border: 1px solid #000;
  padding: 1em;
  margin: 1.5% 3%;
  font: 600 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: left;
}

.black {
  color: #fff;
  background-color: #000;
  font-weight: 500;
}

#black-card-small {
  display: block;
  font-size: 0.8em;
  padding: 0.5em;
}

._ {
  display: inline-block;
  width: 5em;
  border-bottom: 1px solid #fff;
  line-height: 0.8em;
  margin-right: 0.1em;
}