h2= title

form(method="post", action="/users")
	p
		label Name
		br
		// input#newuser(type="text", name="user[name]", value=user.name)
		<input id="username" class="newuser" type="text" name="user[name]" autofocus required>
		
	input.newuser(type="submit", value="Save")