!!! 5
html(lang="en")
  include ../includes/head
    script(type="text/x-handlebars", data-template-name="say-hello").
      Hello, <strong>{{CAH.username}}</strong>.
    
    script(type="text/x-handlebars", data-template-name="players").
      {{readyString}} <br />
      {{#collection contentBinding="CAH.playersController" tagName="ul" itemClassBinding="content.isReady"}}
        Name: {{content.name}} <br /> 
        Ready: {{content.isReady}}
      {{/collection}}
    
    script(type="text/x-handlebars", data-template-name="single-player").
      <p><em>Name:</em> {{name}}</p>

    script(type="text/x-handlebars", data-template-name="cards-hand").
      {{#collection contentBinding="CAH.handController" id="card-container"}}
        <div class="white card">
          <span>{{content.text}}</span>
        </div>
      {{/collection}}

    script(type="text/x-handlebars", data-template-name="cards-in-play").
      <h4>cards in play</h4>
      {{#each cards}}
        <div class="{{color}} card">
          <span>{{content}}</span>
        </div>
      {{/each}}
      
  body
    script(type="text/x-handlebars").
      <!--This is the first Handlebar template we start with.-->

    #container
      != partial('../includes/header')
      != body
    != partial('../includes/foot')