!!! 5
html(lang="en")
  include ../includes/head
    script(type="text/x-handlebars", data-template-name="say-hello").
      Hello, <strong>{{CAH.username}}</strong>.
    script(type="text/x-handlebars", data-template-name="cards-hand").
      <p id="current_black_card">{{black_card}}</p>
      {{#each cards}}
        <div class="{{color}} card">
          <span>{{content}}</span>
        </div>
      {{/each}}
    script(type="text/x-handlebars", data-template-name="cards-in-play").
      {{#each cards}}
        <div class="{{color}} card">
          <span>{{content}}</span>
        </div>
      {{/each}}
      
  body
    script(type="text/x-handlebars").
      This is the first Handlebar template we start with.

    #container
      != partial('../includes/header')
      != body
    != partial('../includes/foot')