!!! 5
html(lang="en")
  include ../includes/head
    script(type="text/x-handlebars", data-template-name="say-hello").
      Hello, <strong>{{{CAH.username}}}</strong>.
    
    script(type="text/x-handlebars", data-template-name="players").
      {{readyString}} <br />
      {{#collection contentBinding="CAH.playersController" tagName="ul" itemClassBinding="content.isReady"}}
        Name: {{{content.name}}} <br /> 
        Ready: {{content.isReady}}
      {{/collection}}
    
    script(type="text/x-handlebars", data-template-name="single-player").
      <p><em>Name:</em> {{{name}}}</p>

    script(type="text/x-handlebars", data-template-name="cards-hand").
      <p id="black-card-small" class="card-text black">{{{black_card}}}</p>
      <h4>Your Hand</h4>
      {{#collection contentBinding="CAH.handController" id="cards-hand" class="card-container"}}
        <div class="white card" {{bindAttr id="content.id"}}>
          <span class="card-text">{{{content.text}}}</span>
        </div>
      {{/collection}}

    script(type="text/x-handlebars", data-template-name="cards-in-play").
      {{#collection contentBinding="CAH.tableController" id="cards-table" class="card-container"}}
        <div {{bindAttr class="content.color content.card"}}>
          <span class="card-text">{{{content.text}}}</span>
        </div>
      {{/collection}}
      
  body
    script(type="text/x-handlebars").
      <!--This is the first Handlebar template we start with.-->

    #container
      != partial('../includes/header')
      != body
    != partial('../includes/foot')