div(id="card-container", class="container").
    <div id="card-black-42" class="black card">
        <span>While the United States raced the Soviet Union to the moon, the Mexican government funnelled millions of pesos into research on _.</span>
    </div>
    
    <div id="card-white-92" class="white card">
        <span>Consultants</span>
    </div>
        
    <div id="card-white-61" class="white card">
        <span>A falcon with a cap on its head</span>
    </div>
        
    <div id="card-white-225" class="white card">
        <span>Dropping a chandelier on your enemies and riding the rope up</span>
    </div>
    
    <div id="card-white-436" class="white card">
        <span>The Dance of the Sugar Plum Fairy</span>
    </div>
    
    <div id="card-white-441" class="white card">
        <span>Women in yogurt commercials</span>
    </div>
